@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* The diagonal stripe pattern for the progress bar */
.bg-stripes-slate {
  background-image: linear-gradient(
    45deg, 
    #1e293b 25%, 
    transparent 25%, 
    transparent 50%, 
    #1e293b 50%, 
    #1e293b 75%, 
    transparent 75%, 
    transparent
  );
  background-size: 10px 10px;
}